@model IEnumerable<WebApp.Models.OrderModel>

<ul id="menu">
    <li>
        @Ajax.ActionLink("C", "Create", new AjaxOptions
   {
       UpdateTargetId = "content-wrapper",
       InsertionMode = InsertionMode.Replace
   })
    </li>
    <li>
        @Ajax.ActionLink("L", "LogoutAction", new AjaxOptions
   {
       UpdateTargetId = "content-wrapper",
       InsertionMode = InsertionMode.Replace
   })
    </li>
</ul>
<div id="tab-title">
    <h3>TRACK ORDERS</h3>
    <hr class="title-sep" />
</div>
<div id="tracking-wrapper">
    <div id="filter" class="clearfix">
        <span class="0">UNASSIGNED</span>
        <span class="1">ASSIGNED</span>
        <span class="3">SOLVED</span>
    </div>
    <ul id="labels-list">
        <li class="id">ID</li>
        <li class="title">TITLE</li>
        <li class="date">DATE</li>
        <li class="state">STATE</li>
    </ul>
    <ul id="tickets-list">
        @foreach (var order in Model)
        {
            <li id="@order.id" class="clearfix">
                <span class="id">@order.id</span>
                <span class="title">@order.book_title</span>
                <span class="date">@order.date</span>
                <span class="state @order.state">@order.state_date</span>
            </li>
        }
    </ul>
</div>
<input type="hidden" value="@Session["id"]" id="id-hidden" />
